/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "chelizi-pinctrl.dtsi"
#include "chelizi-matrix.dtsi"

/ {
    model = "chelizi";
    compatible = "beeender,chelizi";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,display = &display;
        zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 3>;
        output-ohms = <2000000>;
        full-ohms = <(2000000 + 820000)>;
    };

    indicators {
        compatible = "gpio-keys";
        charge_ind {
            gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };

    display: display {
        compatible = "qiyun,qyeg0213";
        status = "okay";
        height = <122>;
        width = <250>;

        dc-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
        cs-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
        sclk-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        sdi-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;

        busy-gpios = <&gpio0 10 GPIO_PULL_DOWN>;
    };
};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&i2c0 {
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    status = "okay";

    ioexpander: ioexpander@74{
        compatible = "i2c-device";
        reg = < 0x74 >;
        label = "IOEXPANDER";
    };
};

zephyr_udc0: &usbd {
    status = "okay";
};

&flash0 {
    /*
     * For more information, see:
     * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
     */
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        sd_partition: partition@0 {
            reg = <0x00000000 0x00026000>;
        };
        code_partition: partition@26000 {
            reg = <0x00026000 0x000c6000>;
        };

        /*
         * The flash starting at 0x000ec000 and ending at
         * 0x000f3fff is reserved for use by the application.
         */

        /*
         * Storage partition will be used by FCB/LittleFS/NVS
         * if enabled.
         */
        storage_partition: partition@ec000 {
            reg = <0x000ec000 0x00008000>;
        };

        boot_partition: partition@f4000 {
            reg = <0x000f4000 0x0000c000>;
        };
    };
};
