# Electronut Labs Papyr board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_CHELIZI

config ZMK_KEYBOARD_NAME
    default "CheLiZi v2"

config BT_DEVICE_NAME
    default "CheLiZi v2"

config BOARD
    default "chelizi"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_CHELIZI
