# Electronut Labs Papyr board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT
config ZMK_KEYBOARD_NAME
    default "CheLiZi v2"

config BT_DEVICE_NAME
    default "CheLiZi v2"

config BOARD
    default "chelizi"

if USB_DEVICE_STACK
config USB_NRFX
    default y
endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

if ZMK_DISPLAY
config ZMK_DISPLAY
    select LV_USE_LABEL
    select LV_USE_IMG
    select LV_FONT_MONTSERRAT_18
    select LV_FONT_MONTSERRAT_12
config ZMK_DISPLAY_BLANK_ON_IDLE
    default n
choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice
choice ZMK_DISPLAY_STATUS_SCREEN
    default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
endchoice

config HEAP_MEM_POOL_SIZE
    default 4096
config LV_Z_MEM_POOL_SIZE
    default 4096
config ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE
    default 4096

endif # ZMK_DISPLAY

config QYEG0213
    default y
