# chelizi board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_CHELIZI
    bool "chelizi"
    depends on SOC_NRF52840_QIAA

config BOARD_CHELIZI_EINK
    bool "chelizi_eink"
    depends on SOC_NRF52840_QIAA
